body {
  background-color: rgb(84, 112, 166);
  background-image: images/gangnam_style.jpg;

}

ul {
  padding: 0;
  margin: 0;
  width: 600px;
}

li {
  list-style-type: none;
  float: left;
  width: 118px;
  height: 118px;
  border: 1px solid #000;
  align-content: center;
}

.won {
  background-color: gold;
}

h1 {
  text-align: center;
}

h3 {
  text-align: right;

}
